{% extends "base.html" %}
{% block content %}
<div id="react-root"></div>
{% endblock %}

{% block scripts %}
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script>
    window.__INITIAL_DATA__ = {{ initial_data|tojson }};
</script>
<script type="text/babel" data-presets="react" src="{{ url_for('static', filename='js/react_frontend.js') }}"></script>
{% endblock %}
